.container {
  margin: 24px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.search_container {
  padding: 20px 24px;
  background-color: #FBFBFB;
  border-radius: 12px 12px 0px 0px;
  width: 100%;
}
.wrapper {
  border: 1px solid #ddd;
  border-radius: 12px;
}
.search {
  width: 700px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #FBFBFB;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}
.table tr { 
  border-bottom: 1px solid #ddd;
}

.loading,
.no-data {
  text-align: center;
  font-style: italic;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-btn:hover {
  background-color: #45a049;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.per-page-select {
  margin-right: 16px;
  width: 100px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-pagination .ant-pagination-item {
  border-radius: 6px;
  border: 1px solid #ddd;
}

.custom-pagination .ant-pagination-item-active {
  background-color: #00c57d !important;
  border-color: #00c57d !important;
}

.custom-pagination .ant-pagination-item-active a {
  color: #ffffff !important;
}

.custom-pagination .ant-pagination-item a {
  color: #000000 !important;
}

.custom-pagination .ant-pagination-item:hover {
  background-color: #e6f9f1 !important;
  border-color: #00c57d !important;
}

.custom-pagination .ant-pagination-item:hover a {
  color: #00c57d !important;
}

.custom-pagination .ant-pagination-prev,
.custom-pagination .ant-pagination-next {
  border-radius: 6px;
  border: 1px solid #ddd;
}

.custom-pagination .ant-pagination-prev:hover,
.custom-pagination .ant-pagination-next:hover {
  background-color: #e6f9f1 !important;
  border-color: #00c57d !important;
}

.custom-pagination .ant-pagination-options {
  margin-left: 20px;
}

.custom-pagination .ant-select-selector {
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 4px 12px;
}
